*

!Multiplayer_server.playmonumenta.com/
!Multiplayer_server.playmonumenta.com/**/

!Multiplayer_server.playmonumenta.com/monumenta$isles/**
!Multiplayer_server.playmonumenta.com/monumenta$valley/**

!.gitignore
!.gitattributes
